<div class="contact">
    <div class="left">
        <img src="../../../assets/shake.jpg" alt="" srcset="">
    </div>
    <div class="right">
        <h2>Contact me</h2>
        <p>Do I look like a good addition to your team, Kindly contact me here</p>
        <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>