.contact{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    width: 90%;
    padding-bottom: 50px;
}

.left{
    flex: 1;
    height: 100%;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.right h2{
    font-size: 30px;
    margin-top: 70px
}

.right p{
    width: 280px;
    text-align: center;
    color: gray;
    font-size: 14px;
}

form{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    width: 300px;
    height: 30px;
    font-size: 14px;
}

input:focus{
    outline: none;
}

textarea{
    width: 300px;
    height: 200px;
    font-size: 14px;
}

textarea:focus{
    outline: none;
}

button{
    width: 300px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: .8s ease-in-out;
}

button:hover{
    background-color: rgb(143, 228, 143);

}

button:focus{
    outline: none;
}

@media screen and (max-width: 768px)  {
    .contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
        
    }

    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .left img{
        width: 55%;
    }

    .right{
        width: 60%;
        margin-top: -25px;
    }

    .right form{
        width: 30%;

    }

    .right p{
        width: 220px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    form input,
    form textarea{
        width: 230px;
        margin-bottom: 7px;
    }

    button{
        width: 230px;
        padding: 7px 0;
        font-size: 14px;
    }

}
