<div class="portfolio">
    <h1>My Portfolio Projects</h1>
    <div class="items-box">
        <div class="items">
            <div class="item">
                <img src="../../../assets/ecom-port.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>Frontend Ecommerce App</h3>
                    <div class="links">
                        <div>
                            <a href="https://vanillajs-shopping-cart.herokuapp.com/">Live Demo</a>
                            <a href="https://github.com/adewaleK/Ustacky-Ecom-Project/tree/development">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>A Frontend Ecommerce App application with payment functionality.<br> 
                    <span>Built with:</span>
                <span id="stack-span"> HTML, CSS, JavaScript and Paystack API</span>
                </p>
            </div>
            <div class="item remove">
                <img src="../../../assets/portal-port.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>Portal Management App</h3>
                    <div class="links">
                        <div>
                            <a href="https://vanillajs-shopping-cart.herokuapp.com/">Live Demo</a>
                            <a href="https://github.com/adewaleK/Ustacky-Student-Portal">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>A School Portal Management App for admins to manage and update student records in the database<br> 
                    <span>Built with:</span>
                <span id="stack-span"> PHP, MySQL, HTML, CSS, JQuery/Ajax, </span>
                </p>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <img src="../../../assets/ftodo-port.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>React Todo List App</h3>
                    <div class="links">
                        <div>
                            <a href="https://admiring-villani-b58bd5.netlify.app/">Live Demo</a>
                            <a href="https://github.com/adewaleK/fullstack_todo_app">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>A Todo List Application for managing daily activities<br> 
                    <span>Built with:</span>
                <span id="stack-span">REACT & MATERIAL UI ICONS</span>
                </p>
            </div>
            <div class="item remove">
                <img src="../../../assets/ecom-port.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>NewsWeek Website(Homepage)</h3>
                    <div class="links">
                        <div>
                            <a href="https://vanillajs-shopping-cart.herokuapp.com/">Live Demo</a>
                            <a href="">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>Fully responsive and beautiful clone of the home page of the popular NewsWeek website <br> 
                    <span>Built with:</span>
                <span id="stack-span"> HTML, CSS, JavaScript and Paystack API</span>
                </p>
            </div>
        </div>
    </div>
</div>