<div class="portfolio">
    <h1>Portfolio Projects</h1>
    <div class="bar"></div>
    <!-- <app-bar></app-bar> -->
    <div class="items-box">
        <div class="items">
            <div class="item" *ngFor="let project of myProjects">
                <img src="{{imagebaseurl+project.title+'.PNG'}}" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>{{project.title}}</h3>
                    <div class="links">
                        <div>
                            <a href="{{project.linkToLivedemo}}">Live Demo</a>
                            <a href="{{project.gitHubUrl}}">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>{{project.desc}}}<br> 
                    <span>Built with : </span>
                <span id="stack-span">{{project.technologiesUsed}}</span>
                </p>
            </div>  
        </div>
        <div class="items">
            <div class="item">
                <img src="../../../assets/ftodo-port.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>React Todo List App</h3>
                    <div class="links">
                        <div>
                            <a href="https://admiring-villani-b58bd5.netlify.app/">Live Demo</a>
                            <a href="https://github.com/adewaleK/fullstack_todo_app">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>A Todo List Application for managing daily activities<br> 
                    <span>Built with : </span>
                <span id="stack-span">REACT & MATERIAL UI ICONS</span>
                </p>
            </div>
            <div class="item remove">
                <img src="../../../assets/newsweek-home.PNG" alt="Ecommerce project">
                <div class="item-footer">
                    <h3>NewsWeek Website(Homepage)</h3>
                    <div class="links">
                        <div>
                            <a href="https://raw.githack.com/adewaleK/newsweek/responsive-bootstrap/index.html">Live Demo</a>
                            <a href="https://github.com/adewaleK/newsweek/tree/responsive-bootstrap">Github</a>
                        </div>
                    </div>
                    
                </div>
                <p>Fully responsive and beautiful clone of the home page of the popular NewsWeek website <br> 
                    <span>Built with : </span>
                <span id="stack-span">HTML, CSS, JavaScript and Bootstrap</span>
                </p>
            </div>
        </div>
    </div>
</div>