.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0px 0;
}

.portfolio .bar{
    width: 5%;
    height: 5px;
    background-color: red;
    margin-top: -20px;
    margin-bottom: 30px;
}

.portfolio h1{
    margin: 30px 0;
}

.items-box{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.items{
    display: flex;
    flex-wrap: wrap;
    
}

.items .item{
    width: 500px;
    margin: 0 100px 50px 0;
    border: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    background-color: #fbfffe;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.items .item:hover{
   transform: scale(1.02);
}

.item h3{
    font-size: 17px;
    text-align: center;
    padding-left: 10px;
}

.items .remove{
    margin-right: 0;
}

.item img{
    width: 100%;
    height: 300px;    
}

.item p{
    margin-top: -10px;
    line-height: 25px;
    padding: 10px 25px;
    color: gray;
    
}

.item p span{
    font-weight: bold;
    color: red;
}

#stack-span{
    color: rgb(95, 94, 94);
}

.item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item-footer .links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links div a{
    background-color: green;
    margin-right: 10px;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    transition: .4s ease-out;
}

.links div a:hover{
    background-color: rgb(157, 248, 157);
    color: green;
    

}
