.footer{
    height: 40px;
    background-color: green;
    padding: 25px 0 0 0;
}

.footer-items{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-items .email{
    margin-right: 30px;
}

.footer p{
    color: #fff;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 768px)  {
    .footer{
        width: 100%;
        overflow-x: hidden;
    }

    .footer p{
        font-size: 14px;
    }
    
}
