<div class="nav-box">
    <div class="left-nav">
        <h1>Dev<span>Kamil</span></h1>
        <p><i class="fas fa-user"></i>+2347038893413</p>
        <p><i class="fas fa-envelope"></i>devkamilnaija@gmail.com</p>
    </div>
    <div class="nav-items">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a>
        <!-- <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a> -->
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact me</a>
    </div>
</div>