.nav-box{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10%; */
    background-color:green;
    position: fixed;
    top: 0;
}

.left-nav{
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav p{
    color: #fff;
    margin-right: 15px;
    font-size: 16px;
}

.left-nav i{
    margin-right: 7px;
}

.nav-box h1{
    color: #fff;
    margin-right: 25px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

h1 span{
    color: crimson;
}

.nav-items a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;  
    transition: .5s ease-out;
}

.nav-items a:hover{
    color: crimson;
}

.nav-items i{
    display: block;
}