.home-box{
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}

.left{
    flex: 0.5;
}

.left .image-box img{
    height: 700px;
}

.right{
    flex: 0.5;
}

.wrapper h4{
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.wrapper .bar{
    width: 10%;
    height: 5px;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 30px;
}

.wrapper h1{
    font-size: 60px;
    margin: 10px 0;
}

.wrapper h2{
    font-size: 35px;
}

.wrapper h3{
    font-size: 30px;
}

.wrapper h3 span{
    color: red;
}