.home-box{
    display: flex;
    padding: 12% 5% 3% 5%;
    justify-content: space-between;
    align-items: center;
}

.left{
    flex: 0.5;
}

.left .image-box img{
    height: 700px;
    margin-top: -350px;
}

.right{
    flex: 0.5;
}

.wrapper h4{
    font-size: 18px;
    color: rgb(100, 98, 98);
}

.wrapper .bar{
    width: 10%;
    height: 5px;
    background-color: crimson;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper h1{
    font-size: 50px;
    margin: 10px 0;
}

.wrapper h3{
    font-size: 22px;
    margin-top: -15px;
}

.wrapper h3 span{
    color: crimson
}

.wrapper p{
    color: rgb(100, 98, 98);;
    font-size: 18px;
    margin: 12px 0;
}

.icons{
    margin-bottom: 22px;
}

.icons a{
    font-size: 27px;
    margin-right: 10px;
}

.icons a .ghb{
    color: black;
}

.icons a .lin{
    color: #0270AD;
}

.icons a .tw{
    color: #5AA4D6;
}

.getintouch{
    background-color: green;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 1.5s ease-in-out;
    margin-bottom: 30px;

}

.getintouch:hover{
    color: black;
    background-color: #fdf9f9;
}

.bottom-box{
    margin-top: 70px;
}

.tech-skills{
    padding: 15px 20px;
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
    margin-top: 10px;
}

.skill{
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   background-color: #fff;
   padding: 0 10px;

}

.text-logo{
    display: flex;
    align-items: center;
}

.skill img{
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.special{
    margin-left: -20px;
    padding: 3px 0;
}

@media (min-width: 481px) and (max-width: 767px) {
    .home-box{
        flex-direction: column;
        
    }
  
   
    
}
