<div class="home-box">
  <div class="left">
    <div class="image-box">
      <img src="../../../assets/profile-pic.jpeg" alt="profile image">
    </div>
  </div>
  <div class="right"> 
    <div class="wrapper">
      <h4>Hi, my name is</h4>
      <div class="bar"></div>
      <h1>{{firstName}} {{lastName}}</h1>
      <h3>Fullstack <span>Developer</span></h3>
      <p>{{about}}</p>
      <div class="icons">
        <a href="http://github.com/adewaleK"><i class="fab fa-github ghb"></i></a>
        <a href="https://www.linkedin.com/in/kamilu-adewale-64ab73197/"><i class="fab fa-linkedin lin"></i></a>
        <a href="http://"><i class="fab fa-twitter-square tw"></i></a>
      </div>
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="getintouch">Get In Touch</a>
     <div class="bottom-box">
      <h3 class="skills-header">Technical Skills</h3>
      <div class="tech-skills" >
        <div class="skill" *ngFor="let item of mySkills">
          <div class="text-logo">
            <img src='{{imagebaseurl+item.name+".png"}}' alt="logo">
            <p>{{item.name}}</p>
          </div>
          <p>{{item.proficiency}} Years Of Experience</p>
        </div>
     </div>
    </div>
    </div>
  </div>
</div>